<div class="page-header">
  <%= link_to users_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_user_path(@user), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show user</h1>
</div>

<dl class="dl-horizontal">
		<table class="table">
		  <thead>
		    <tr>
		      <th>Identities</th>
		      <th>User ID</th>
		    </tr>
		  </thead>
		  <tbody>
		    <% @user.identities.each do |identity| %>
		    <tr>
		      <th scope="row"><%= identity.provider %></th>
		      <td><%= identity.uid %></td>
		      <td><%= identity.access_token %></td>
		    </tr>
		    <% end %>
		  </tbody>
		</table>
</dl>
