<div class="page-header">
  <%= link_to root_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>User: <%= @user.email%></h1>
</div>

<dl class="dl-horizontal">
	<% @user.identities.each do |identity| %>
		<table class="table">
		  <thead>
		    <tr>
		      <th>Identity: <%=identity.provider%></th>
		      <th>Options: </th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <th><%= identity.client_id %></th>
		    </tr>
		    <tr>
		      <th><%= identity.client_secret %></th>
		    </tr>
		    <tr>
		      <th><%= identity.access_token %></th>
		    </tr>
		  </tbody>
		</table>
	<% end %>
</dl>